.dashboardHome {
	display: flex;
	background-color: #1E1E3D;

	.homeContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 6;
		border-radius: 30px;
		min-height: 100vh;

		.centerItems {
			width: 70%;
		}

		.charts {
			display: flex;
			padding: 20px;
			gap: 20px;
			background: #F2F2F2;
			margin: 20px;
			border-radius: 10px;
		}
	}
}