.header {
  top: 0;
  position: relative;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #03989e;
  font-weight: bolder;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.slide{
  cursor: pointer;
}
.headerTitleSm {
  font-size: 20px;
}

.headerTitleLg {
  font-size: 100px;
}

.headerImg {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

.corche{
  font-weight: bold;
  color: #e01b84;
  font-size: 130px;
}

.inBlog{
  line-height: 100px;
}

@media screen and (max-width: 840px) {
  .headerImg {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}
@media screen and (max-width: 480px) {
  .headerImg {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

