.posts {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  height: fit-content;
  min-height: 100vh;
}


@media screen and (max-width: 1080px) {
  .posts {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
  }
}
