@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	
}

body {
	background: #e5e5e5;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	position: relative;

}

main {
	max-width: 800;
	margin: auto;
	padding: 40px;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	
	
}
h1 {
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 44px;
	line-height: 53px;
	padding-bottom: 50px;
  }

.orLogin {
	font-family: "Inter", sans-serif;
	color: #1f252d;
	font-size: 15px;
	padding-top: 20px;
  }
  
.orLoghover:hover {
	color: #256ece;
  }